
$ContentColor: #666666;
$DefaultColor: #1698d9;
$DefaultHoverColor: #2ea8e5;
$SelectedColor: #d91667;
$DisableColor: hsla(0, 0%, 70%, .5); 
$DisableBorderColor: #b3b3b3;
$DisableColorFooter: #ffff66;