
.Product {
    margin: 20px;
    display: flex;
    flex-direction: column;
} 

 .Default {
     background: white;
     border: 2px solid rgb(58, 160, 228);
 }

 .Default :hover {
    cursor: pointer;
}

 .Selected{
    background: white;
    border: 2px solid rgb(255, 69, 140);
}

.Selected :hover {
    
    cursor: pointer;
}

.Disable {
    background: white;
    border: 2px solid rgb(178, 255, 171);
    cursor: default;
}


.DefaultButton{
cursor: pointer;
}

.NotDefaultButton {
display: none;
}

/*********************************************/
.top_info {
    font-size: 20px;
}

.Selected :hover.top_info {
    color: tomato;
}

.name {
    font-size: 46px;;
    }
    
.taste {
      font-size: 30px;
    }
    
.middle_info {
      font-size: 20px;
    }
    
.dop_info {
        font-size: 20px; 
      }

      
  .weight {
    font-size: 42px;
    margin-bottom: -30px;
    background-color: #1698d9;
    border-radius: 50%;
    width: 81px;
    height: 81px;
    text-align: center;
    margin: 10px;
    margin-left: auto;
  }