@import "./../../../../utilities/variables.scss";


.Product {
    display: flex;
    user-select: none;
    margin: 40px 20px 40px 20px;
    } 
 
 .BorderProductContent {
    margin:14px;
    position: relative;
    width: 328px;
    height: 488px;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    }
    
 .ProductContent {
     position: absolute;
     background: white;
     top: 4px;  
     left: 4px; 
     width: 320px;  
     height: 480px; 
     border-radius: 11px;
     clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
    }



    /*состояние продукта*/

 .Default .BorderProductContent {
    background-color: $DefaultColor;
   }

 .Selected .BorderProductContent {
    background-color: $SelectedColor;
   }

  
 .Disable .BorderProductContent {
    background-color: $DisableBorderColor;
   }

 .Disable .ProductContent {
    color: $DisableColor;
    cursor: default;
    }

 .Default .BorderProductContent:hover {
    cursor: pointer;
    background:  $DefaultHoverColor;
    } 

 .Default .ProductContent:hover, 
 .Selected .ProductContent:hover {
    cursor: pointer;
    }



/*кнопка*/

 .DefaultButton{
    cursor: pointer;
    font-size: 13px;
    color: $DefaultColor;
    border: 0;
    background: transparent;
    }

 .DefaultButton:active, .DefaultButton:focus {
    outline: none;
  }

 .DefaultButton::-moz-focus-inner {
    border: 0;
  }

 .NotDefaultButton {
    display: none;
 }



/*not static content*/

   .ProductFooter {
    font-size: 13px;
    color: white;
    text-align: center;;
   }


   .top_info {
    font-size: 16px;
    padding: 20px 0 0 45px;
    color: $ContentColor;
 
   } 

   .top_info_selected_hover  {
    color: $SelectedColor;
   }
 

    .Disable .top_info_default {
      color: $DisableColor;
   }